@media screen and (max-width: 489px) {

    .background-upper-blue {
        height: 143px;
    }

    .container #logo-head {
      font-size: 2.5rem;
      margin-left: 5.5rem;
      justify-content: center;
      align-items: center;
      position:static;
    }

    .container {
        display: inline-block;
        font-size: 0.6rem;     
    }
   
    nav ul li a{
      margin: 3rem 0 2rem 5rem;
      margin-left: 0rem;
      padding: 0rem;
      padding-left: 0rem;
    }


    nav ul li a:hover{
        color: rgb(3, 3, 41);
        text-decoration:wavy ;
        transition: all;
        border-bottom: 1px solid #535858; 
    }
}