.body {
    color: aqua;
}


nav li {
    display: inline;

}

nav a {
    text-decoration: none;
    font-size: 22px;
}
.background-extenso {
    background-color: aquamarine;
    border-radius: 0 0 35px 35px;
    box-shadow: 40px;
}
.container-navegation {
    display: flex;
    text-align: center;
    align-items: center;
}

#logo-head {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c3c3c3;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
}

.menu-navegation {
    display: flex;
    line-height: 10%;
    text-decoration: none;
    text-transform: none;
}

.menu-navegation a {
    line-height: 1.6;
    text-decoration: none;
    text-transform: none;
}

.container-navegation .search {
    border-radius: 400px;
}